################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/softsunlight.orm
/softsunlight.orm/bin/Debug/netcoreapp3.0
/softsunlight.orm/obj
/softsunlight.orm.tests/bin/Debug/netcoreapp3.0
/softsunlight.orm.tests/obj
/softsunlight.orm/bin/Debug
